@{
Layout = "_Layout";
}

@using System.Security.Claims

<div class="content">
@if (User.Identity.IsAuthenticated)
{
    <h3>Welcome @User.Identity.Name!</h3>
    <br>
    <h5>Navigator:</h5>
    <ul>
    <li>@Html.ActionLink("Go Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Go to Flavor List", "Index", "Flavors")</li>
    <li>@Html.ActionLink("Go to Treat Menu", "Index", "Treats")</li> 
    </ul>
    <hr />
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-danger" value="Log out" />
    }
}
else
{
    <h3>Log in or create an account</h3>
    <br>
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
    <hr />
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
}
</div>