@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels

@model LoginViewModel

<div class="content">
<h3>Log In</h3>
<br>
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "width:250px;" })
    <br>
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "width:250px;" })
    <br>
    <input type="submit" value="Log in" class="btn btn-primary" />
}
<hr />
<p>@Html.ActionLink("Don't have an account? Register", "Register", "Account")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>